<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.buser.BuserMapper">
  <resultMap id="BaseResultMap" type="com.model.buser.Buser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_postNum" jdbcType="VARCHAR" property="userPostnum" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="user_joinDate" jdbcType="TIMESTAMP" property="userJoindate" />
    <result column="user_lastLogin" jdbcType="TIMESTAMP" property="userLastlogin" />
    <result column="user_logins" jdbcType="INTEGER" property="userLogins" />
    <result column="user_birthday" jdbcType="DATE" property="userBirthday" />
    <result column="user_question" jdbcType="VARCHAR" property="userQuestion" />
    <result column="user_answer" jdbcType="VARCHAR" property="userAnswer" />
    <result column="user_photo" jdbcType="VARCHAR" property="userPhoto" />
    <result column="user_description" jdbcType="VARCHAR" property="userDescription" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
  </resultMap>
  
  <resultMap type="com.model.buser.BuserExtend" id="selectUserAndPostMap">
 	<id column="user_id" jdbcType="INTEGER" property="userId" />
  	<result column="user_name" jdbcType="VARCHAR" property="userName" />
  	<result column="user_joinDate" jdbcType="TIMESTAMP" property="userJoindate" />
  	<result column="user_address" jdbcType="VARCHAR" property="userAddress" />
  	<result column="user_description" jdbcType="VARCHAR" property="userDescription" />
  	<collection property="list" ofType="com.model.post.Post">
  		<id column="post_id" property="postId"/>
  		<result column="post_topic" property="postTopic"/>
  		<result column="post_answerNum" property="postAnswernum"/>
  		<result column="post_readNum" property="postReadnum"/>
  		<result column="post_createTime" property="postCreatetime"/>
  		<result column="post_isBest" property="postIsbest"/>
  	</collection>
  </resultMap>
  
  <!-- 根据用户id查询出用户发表的帖子 -->
  <select id="selectUserAndPost" parameterType="int" resultMap="selectUserAndPostMap">
  	SELECT u.`user_id`,u.`user_name`,u.`user_joinDate`,u.`user_address`,u.`user_description`, 
		p.`post_topic`,p.`post_id`,p.`post_answerNum`,p.`post_readNum`,p.`post_createTime`,p.`post_isBest`
	FROM bbs_user u 
	LEFT JOIN bbs_post p ON u.`user_id`=p.`post_userId` 
	WHERE u.`user_id`=#{id} ORDER BY p.`post_createTime` DESC
  </select>
  
  <select id="selectUserNameById" parameterType="int" resultType="java.lang.String">
  	SELECT u.`user_name` FROM bbs_user u WHERE u.`user_id`=#{id}
  </select>
  
 
</mapper>