<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.buser.BuserMapper">
  <resultMap id="BaseResultMap" type="com.model.buser.Buser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_postNum" jdbcType="VARCHAR" property="userPostnum" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="user_face" jdbcType="VARCHAR" property="userFace" />
    <result column="user_joinDate" jdbcType="TIMESTAMP" property="userJoindate" />
    <result column="user_lastLogin" jdbcType="TIMESTAMP" property="userLastlogin" />
    <result column="user_logins" jdbcType="INTEGER" property="userLogins" />
    <result column="user_birthday" jdbcType="DATE" property="userBirthday" />
    <result column="user_question" jdbcType="VARCHAR" property="userQuestion" />
    <result column="user_answer" jdbcType="VARCHAR" property="userAnswer" />
    <result column="user_photo" jdbcType="VARCHAR" property="userPhoto" />
    <result column="user_setting" jdbcType="VARCHAR" property="userSetting" />
    <result column="user_description" jdbcType="VARCHAR" property="userDescription" />
    <result column="user_hidden" jdbcType="VARCHAR" property="userHidden" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
  </resultMap>
  
  <select id="selectUserAndPost" parameterType="int" resultType="java.util.Map">
  	SELECT u.`user_name` userName,u.`user_joinDate` userJoinDate,u.`user_address` userAddress,u.`user_description` userDescription, 
	p.`post_topic` postTopic,p.`post_id` postId,p.`post_answerNum` postAnswerNum,p.`post_readNum` postReadNum,
	p.`post_createTime` postCreateTime,p.`post_isBest` postIsBest
	FROM bbs_user u,bbs_post p WHERE p.`post_userId`=u.`user_id` AND u.`user_id`=#{id} order by postCreateTime asc
  </select>
  
  <select id="selectUserNameById" parameterType="int" resultType="java.lang.String">
  	SELECT u.`user_name` FROM bbs_user u WHERE u.`user_id`=#{id}
  </select>
</mapper>