<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <!-- 下划线与驼峰式命名规则的映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="User" type="com.model.user.User"/>
        <typeAlias alias="FriendLink" type="com.model.web.FriendLink"/>
         <typeAlias alias="Menu" type="com.model.sys.Menu"/>
         <typeAlias alias="Role" type="com.model.sys.Role"/>
         <typeAlias alias="Dict" type="com.model.sys.Dict"/>
         <typeAlias alias="Test" type="com.model.test.Test"/>
         <typeAlias alias="Board" type="com.model.board.Board"/>
         <typeAlias alias="Common" type="com.model.common.Common"/>
         <typeAlias alias="Type" type="com.model.type.Type"/>
         <typeAlias alias="Post" type="com.model.post.Post"/>
         <typeAlias alias="Buser" type="com.model.buser.Buser"/>
         
    </typeAliases>
    <mappers>
        <mapper resource="com/mapper/user/userMapper.xml" />
        <mapper resource="com/mapper/web/friendLinkMapper.xml" />
        <mapper resource="com/mapper/sys/menuMapper.xml" />
         <mapper resource="com/mapper/sys/roleMapper.xml" />
         <mapper resource="com/mapper/sys/dictMapper.xml" />
         <mapper resource="com/mapper/tool/codeGeneratorMapper.xml" />
         <mapper resource="com/mapper/test/testMapper.xml" />
         <mapper resource="com/mapper/board/BoardMapper.xml" />
         <mapper resource="com/mapper/buser/BuserMapper.xml" />
         <mapper resource="com/mapper/common/CommonMapper.xml" />
         <mapper resource="com/mapper/type/TypeMapper.xml" />
         <mapper resource="com/mapper/post/PostMapper.xml" />
    </mappers>
    
</configuration>