<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.reply.ReplyMapper">
  <resultMap id="BaseResultMap" type="com.model.reply.Reply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="reply_id" jdbcType="INTEGER" property="replyId" />
    <result column="reply_userId" jdbcType="INTEGER" property="replyUserid" />
    <result column="reply_userName" jdbcType="VARCHAR" property="replyUsername" />
    <result column="reply_userIp" jdbcType="VARCHAR" property="replyUserip" />
    <result column="reply_postId" jdbcType="INTEGER" property="replyPostid" />
    <result column="reply_Time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="reply_isEnd" jdbcType="VARCHAR" property="replyIsend" />
    <result column="reply_content" jdbcType="LONGVARCHAR" property="replyContent" />
  </resultMap>
  
  
</mapper>